<div class="navbar-fixed-bottom">
    <style>
    p {color: #E5EFFF;
    }
    a{
            color: #E5EFFF;
        }
    
    </style>
   
         <ul class="blog-nav">
            <div class="navbar-text pull-left">
                <p>Developed by Nisarg Patel</p>
            </div>
        


             <div class="navbar-text pull-right">
            
                <a href="https://github.com/Nisarg1503"><i class="fa fa-github fa-2x"></i></a>
            
                <a href="https://in.linkedin.com/pub/nisarg-patel/90/a74/a83"><i class="fa fa-linkedin fa-2x"></i></a>
        
                <a href="https://instagram.com/nisarg1503/"><i class="fa fa-instagram fa-2x"></i></a> 
            
                <a href="https://twitter.com/nisarg1503"><i class="fa fa-twitter fa-2x"></i></a>
            
                <a href="https://www.facebook.com/nisarg1503"><i class="fa fa-facebook fa-2x"></i></a>

            </div>
    
        </ul>
</div>