<%- include partials/header.ejs %>

<style>
body {
    background-color: #72777a;
}
    section {
        padding-top: 75px;
        font-family: 'Abel', sans-serif;
        letter-spacing:2px;
        font-size:1.4em;
        align: center; 
        color:#E5EFFF;
    }
     img {
    width: 40%;
    align:"center";
    }
    

</style>




<section id="projects" class="projects">
        <div class="projects">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>Our Projects</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                
                                <h4>
                                    <strong>Mobile Application</strong>
                                </h4>
                                <div class="img">
                               
                                <img src="../images/project1.jpg" alt="project image" />
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                        
                                <h4>
                                    <strong>Logo : A to Z Car Spa</strong>
                                </h4>
                                <div class="img">
                               
                                <img src="../images/project2.jpg" alt="logo image" />
                                    </div>
                            </div>
                        </div>
                        
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
          
    </section>

</body>
</html>
<% include ./partials/boot.ejs %>
<%- include partials/footer.ejs %>